footer {
   width: 100%;
   height: calc(1.6 / 12 * 100%);

   position: fixed;
   bottom: 0;
   left: 0;

   font-size: var(--font-0);
   color: var(--color-0);

   background: url(../media/images/bg_footer-576.png) no-repeat;
   background-size: 100% 100%;

   display: flex;
}

footer>section {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.pEncab {
   height: 47px;
   padding: 15px 35px 0 2px;
   text-align: center;
   color: var(--color-6);
}

footer main {
   height: 50px;
   padding: 0 5px 0 15px;
}

.pInteg {
   text-align: right;
}

.pTecno {
   width: 45vw;
   text-align: right;
   padding: 40px 20px 0 0;
}

.pCright {
   text-align: right;
   padding: 5px 10px 0 0;
}

footer a:link,
footer a:visited footer a:active {
   margin-left: 2px;
   color: var(--color-4);
   text-decoration: none;
}

footer a:nth-child(3n+2) {
   margin-left: 5px;
   color: var(--color-mail);
}

footer a:nth-child(3n+3) {
   color: var(--color-wsp);
}

footer a:nth-child(3n+1) {
   color: var(--color-github);
}

footer a:hover {
   color: var(--color-0);
}

/*****   *****   *****   *****   *****   *****   *****   *****   *****   *****/
/* ESTILOS RESPONSIVOS x BREAKPOINTS */
@media only screen and (min-width: 576px) {
   footer {
      background: url(../media/images/bg_footer-768.png) no-repeat;
      background-size: 100% 100%;
   }
}

@media only screen and (min-width: 768px) {
   footer {
      background: url(../media/images/bg_footer-992.png) no-repeat;
      background-size: 100% 100%;
      font-size: var(--font-2);
   }

   .pEncab {
      width: 30vw;
      height: 60px;
      padding: 0.4rem 0 0 2rem;
   }

   footer main {
      height: 70px;
      padding: 0 5px 0 15px;
      display: flex;
      flex-direction: column;
   }

   .pInteg {
      
   }

   .pTecno {
      width: 50vw;
      text-align: right;
      padding: 2.5rem 2.5rem 0 0;
   }

   .pCright {
      text-align: right;
      padding: 0.5rem 0 0 0;
      font-size: var(--font-1);
   }

}


@media only screen and (min-width: 992px) {
   footer {
      background: url(../media/images/bg_footer-1200.png) no-repeat;
      background-size: 100% 100%;
   }
}

@media only screen and (min-width: 1200px) {

   #logoSitio {
      left: calc((100vw - 1200px) / 2 + 3svh);
   }

}

/* ANIMACIONES */

/* @keyframes visibilidad {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
} */

/* @keyframes vibrar{

} */