footer {
   height: 96px;
   width: 100%;

   position: fixed;
   bottom: 0;
   left: 0;

   margin: 0 auto;

   font-size: var(--font-0);
   color: var(--color-0);

   background: url(../media/images/bg_footer-576.png) no-repeat center;
   background-size: 100% 100%;
}

.fh {
   display: flex;
   flex-direction: row;
}

.fv {
   display: flex;
   flex-direction: column;
   /* flex-wrap: nowrap; */
}

.c1 {
   width: 70%;
}

/* .c2 {
   width: 50%;
} */

.pEncab {
   margin: 12px 0 0 12%;
   color: var(--color-6);
}

#grupo{
   margin-top:10px;
}

.pInteg {
   margin: 0 10% 0 0;
   text-align: right;
}

.pTecno {
   width: 100%;
   margin: 35px 20% 0 0;
   text-align: right;
}

.pCright {
   width: 100%;
   margin: 10px 20% 0 0;
   text-align: right;
}

footer a:link,
footer a:visited footer a:active {
   margin-left: 2px;
   color: var(--color-4);
   text-decoration: none;
}

footer a:nth-child(3n+2) {
   margin-left: 5px;
   color: var(--color-mail);
}

footer a:nth-child(3n+3) {
   color: var(--color-wsp);
}

footer a:nth-child(3n+1) {
   color: var(--color-github);
}

footer a:hover {
   color: var(--color-6);
}

/*****   *****   *****   *****   *****   *****   *****   *****   *****   *****/
/* ESTILOS RESPONSIVOS x BREAKPOINTS */
@media only screen and (min-width: 576px) {
   footer {
      background: url(../media/images/bg_footer-768.png) no-repeat center;
      background-size: 100% 100%;
   }
   .pEncab {
      margin: 12px 0 0 18%;
      color: var(--color-6);
   }
   
   .pInteg {
      margin: 0 20% 0 0;
      text-align: right;
   }
   
   .pTecno {
      width: 100%;
      margin: 35px 20% 0 25%;
      text-align: right;
   }
   
   .pCright {
      width: 100%;
      margin: 10px 10% 0 40%;
      text-align: right;
   }
  
}

@media only screen and (min-width: 768px) {
   footer {
      background: url(../media/images/bg_footer-992.png) no-repeat center;
      background-size: 100% 100%;
      /* font-size: var(--font-2); */
   }
   
   .pEncab {
      margin: 12px 0 0 18%;
      color: var(--color-6);
   }
   
   .pInteg {
      margin: 0 18% 0 0;
      text-align: right;
   }
   
   .pTecno {
      width: 100%;
      margin: 35px 0 0 35%;
      text-align: right;
   }
   
   .pCright {
      width: 100%;
      margin: 10px 0 0 50%;
      text-align: right;
   }
}

@media only screen and (min-width: 992px) {
   footer {
      background: url(../media/images/bg_footer-1200.png) no-repeat center;
      background-size: 100% 100%;
   }

   .pEncab {
      margin: 12px 0 0 20%;
      color: var(--color-6);
   }
   
   .pInteg {
      margin: 0 30% 0 0;
      text-align: right;
   }
   
   .pTecno {
      width: 100%;
      margin: 35px 0 0 80%;
      text-align: right;
   }
   
   .pCright {
      width: 100%;
      margin: 10px 0 0 100%;
      text-align: right;
   }
}

@media only screen and (min-width: 1200px) {
   footer {
      background: url(../media/images/bg_footer-1360.png) no-repeat center;
      background-size: 100% 100%;
      left: calc((100svw - 1200px) / 2);
   }

   #logoSitio {
      left: calc((100vw - 1200px) / 2 + 3svh);
   }

   .pEncab {
      margin: 12px 0 0 20%;
      color: var(--color-6);
   }
   
   .pInteg {
      margin: 0 30% 0 0;
      text-align: right;
   }
   
   .pTecno {
      width: 100%;
      margin: 35px 0 0 80%;
      text-align: right;
   }
   
   .pCright {
      width: 100%;
      margin: 10px 0 0 100%;
      text-align: right;
   }
}

/* ANIMACIONES */

/* @keyframes visibilidad {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
} */

/* @keyframes vibrar{

} */