@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("flogin.css");

:root {
    font-size: 20px;
    /* Declaración de constantes */
    --font-base: Quicksand, Roboto, Sans-serif;
    --font-0: 0.4rem;
    --font-1: 0.6rem;
    --font-2: 0.8rem;
    --font-3: 1rem;
    --font-4: 1.2rem;
    --font-5: 1.4rem;
    --font-6: 1.6rem;
    --font-7: 1.8rem;

    /* Declaración de Paleta de colores empleada */
    --color-0: rgb(36, 34, 28);
    --color-1: rgb(72, 69, 55);
    --color-2: rgb(108, 103, 83);
    --color-3: rgb(145, 138, 111);
    --color-4: rgb(172, 167, 147);
    --color-5: rgb(200, 196, 183);
    --color-6: rgb(227, 226, 219);

    --color-0a: rgb(36, 34, 28, .8);
    --color-1a: rgb(72, 69, 55, .8);
    --color-2a: rgb(108, 103, 83, .8);
    --color-3a: rgb(145, 138, 111, .8);
    --color-4a: rgb(172, 167, 147, .8);
    --color-5a: rgb(200, 196, 183, .8);
    --color-6a: rgb(227, 226, 219, .8);

    --sombra-0: 0 2px 5px rgba(72, 69, 55, 0.9), 0 3px 12px rgba(72, 69, 55, 0.5);
    --brillo-0: 0 2px 5px rgba(172, 167, 147, 0.9), 0 3px 12px rgba(172, 167, 147, 0.1);

    --grad-0: linear-gradient(0deg, var(--color-4), var(--color-6)70.71%);
    --grad-1: linear-gradient(0deg, var(--color-1), var(--color-3)70.71%);

    --noLogged: navy;
    --usrLogged: darkgreen;
    --colorNew: green;
    --colorNew-a: rgba(0, 255, 0, .7);
    --colorEdt: blue;
    --colorEdt-a: rgba(0, 0, 255, .3);
    --colorDel: red;
    --colorDel-a: rgba(255, 0, 0, .4);
    --color-wsp: green;
    --color-mail: blue;
    --color-github: black;
}

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: var(--font-size);
    color: var(--color-2);
    overflow: hidden;

    background: url(../media/images/bg-01.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    height: 100svh;
    width: 100svw;
}

.btnNew {
    margin-left: 2vw;
    padding: 0 5px;
    border-radius: 50%;
    border: none;
    background-color: var(--colorNew);
    color: var(--color-6);
}

.btnNew:hover {
    cursor: pointer;
    background-color: var(--colorNew-a);
    color: var(--color-0);
}

.btnEdt {
    padding: 0 2px;
    border-radius: 50%;
    border: none;
    background-color: var(--colorEdt);
    color: var(--color-6);
}

.btnEdt:hover {
    cursor: pointer;
    background-color: var(--colorEdt-a);
    color: var(--color-0);
}

.btnDel {
    padding: 0 4px;
    border-radius: 50%;
    border: none;
    background-color: var(--colorDel);
    color: var(--color-6);
}

.btnDel:hover {
    cursor: pointer;
    background-color: var(--colorDel-a);
    color: var(--color-0);
}

/* *****   *****   *****   *****   *****   *****   *****   *****   *****   *****   *****    */

/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
    html {
        background-image: url(../media/images/bg-02.png);
        overflow: visible;
    }

    header,
    main,
    footer {
        margin: 0 auto;
        max-width: 1200px;
    }
}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
    html {
        background-image: url(../media/images/bg-03.png);
    }
}

/* Extra large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        background-image: url(../media/images/bg-04.png);
    }
}